body
{
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-color: #dedede;
	background-repeat: no-repeat;
}

ul
{
	list-style-type: circle;

}


.CButton
{


	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	display: block;

	color: black;
	text-decoration: none;

	font-size: 18px;

	border-color: #232323;
	border-style:solid;
	border-width: thin;
	margin-bottom: 10px;

	box-shadow: 0 0 16px #000000;
}
.CButton:hover
{
	background-color: #232323;
	color: #ffffff;
}


aside.CMenu
{
	float: left;
	margin-top: 20px;
}
article
{

	margin-left: 250px;
	padding: 10px;
	box-shadow: 0 0 16px #000000;
}

footer
{
	font-size: 12px;

	top: 10px;
	position: relative;


	background-color: #232323;
	color: #ffffff;

	border-color: #232323;
	border-style: solid;
	border-width: medium;

	margin: 0;
	padding: 0;

}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
	margin-bottom: 14px;
	box-shadow: 0 0 16px #000000;
}

header
{
	box-shadow: 0 0 16px #000000;
	font-size: 22px;

	top: 0px;


	background-color: #232323;
	color: #ffffff;

	margin-top: 0px;
	padding-top: 1%;
	padding-bottom: 1%;

	text-align: center;
}

h1, h2, h3, h4, h5, h6
{
	text-align: center;
}

article p
{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
article ul
{
	margin-left: 40px;
	margin-right: 50px;
	text-align: justify;
}

#IContact
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	
	
}
